
@{
    ViewData["Title"] = "AddAuthor";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Add Author</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Author Name:</label>
                                <input type="text" class="form-control" name="AuthorName">
                            </div>
                            <div class="form-group">
                                <label>Author Profile:</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="formfile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Author Email:</label>
                                <input type="email" class="form-control" name="AuthorEmail">
                            </div>
                            <div class="form-group">
                                <label>Author Description:</label>
                                <textarea class="form-control" rows="4" name="AuthorDescription"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

