
@{
    ViewData["Title"] = "ErrorPage";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">@ViewBag.message</h4>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>


