
@{
    ViewData["Title"] = "Shop_Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
	<!-- inner page banner -->
	<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Checkout</h1>
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
						<li class="breadcrumb-item">Checkout</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- inner page banner End-->
	<!-- contact area -->
	<section class="content-inner-1">
		<!-- Product -->
		<div class="container">
			<form class="shop-form" method="post">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="widget">
							<h4 class="widget-title">Billing & Shipping Address</h4>
							<div class="form-group">
								<select class="default-select" name="UserCountry" required>
									<option value="Åland Islands">Åland Islands</option>
									<option value="Afghanistan">Afghanistan</option>
									<option value="Albania">Albania</option>
									<option value="Algeria">Algeria</option>
									<option value="Andorra">Andorra</option>
									<option value="Angola">Angola</option>
									<option value="Anguilla">Anguilla</option>
									<option value="Antarctica">Antarctica</option>
									<option value="Antigua and Barbuda">Antigua and Barbuda</option>
									<option value="Argentina">Argentina</option>
									<option value="Armenia">Armenia</option>
									<option value="Aruba">Aruba</option>
									<option value="Australia">Australia</option>
								</select>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<input type="text" class="form-control" required placeholder="First Name" name="UserFName">
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" required placeholder="Last Name" name="UserLName">
								</div>
							</div>
							
							<div class="form-group">
								<input type="text" class="form-control" required placeholder="Address" name="UserAddress">
							</div>
							<div class="row">
								
								<div class="form-group col-md-6">
									<input type="text" class="form-control" required placeholder="Town / City" name="UserCity">
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" required placeholder="Postcode / Zip" name="UserZip">
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-md-6">
									<input type="email" class="form-control" required placeholder="Email" name="UserEmail">
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" required placeholder="Phone" name="UserPhone">
								</div>
							</div>
							<button class="btn btn-primary btnhover mb-3" type="submit" data-bs-toggle="collapse" data-bs-target="#create-an-account">Create an account <i class="fa fa-arrow-circle-o-down"></i></button>
							
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<button class="btn btn-primary btnhover mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#different-address">Ship to a different address <i class="fa fa-arrow-circle-o-down"></i></button>
						<div id="different-address" class="collapse">
							<p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>
							<div class="form-group">
								<select class="default-select">
									<option value="">Åland Islands</option>
									<option value="">Afghanistan</option>
									<option value="">Albania</option>
									<option value="">Algeria</option>
									<option value="">Andorra</option>
									<option value="">Angola</option>
									<option value="">Anguilla</option>
									<option value="">Antarctica</option>
									<option value="">Antigua and Barbuda</option>
									<option value="">Argentina</option>
									<option value="">Armenia</option>
									<option value="">Aruba</option>
									<option value="">Australia</option>
								</select>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<input type="text" class="form-control" placeholder="First Name">
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" placeholder="Last Name">
								</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Company Name">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Address">
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<input type="text" class="form-control" placeholder="Apartment, suite, unit etc.">
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" placeholder="Town / City">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<input type="text" class="form-control" placeholder="State / County">
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" placeholder="Postcode / Zip">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<input type="email" class="form-control" placeholder="Email">
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" placeholder="Phone">
								</div>
							</div>
							<p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
						</div>
						<div class="form-group">
							<textarea class="form-control" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
						</div>

					</div>
				</div>
			</form>
			
		</div>
		<!-- Product END -->
	</section>
	<!-- contact area End-->
</div>

