
@{
    ViewData["Title"] = "Shop_Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
	<!-- inner page banner -->
	<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Checkout</h1>
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
						<li class="breadcrumb-item">Checkout</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- inner page banner End-->
	<!-- contact area -->
	<section class="content-inner-1">
		<!-- Product -->
		<div class="container">
			<form class="shop-form" method="post">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="widget">
							<h4 class="widget-title">Billing & Shipping Address</h4>
							<div class="form-group">
								<select class="default-select" name="UserCountry" required>
									<option value="Australia">Australia</option>
									<option value="Brazil">Brazil</option>
									<option value="Bulgaria">Bulgaria</option>
									<option value="Canada">Canada</option>
									<option value="China">China</option>
									<option value="Denmark">Denmark</option>
									<option value="Egypt">Egypt</option>
									<option value="Finland">Finland</option>
									<option value="Germany">Germany</option>
									<option value="Iceland">Iceland</option>
									<option value="India">India</option>
									<option value="Indonesia">Indonesia</option>
									<option value="Japan">Japan</option>
								</select>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<input type="text" class="form-control" required placeholder="First Name" name="UserFName">
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" required placeholder="Last Name" name="UserLName">
								</div>
							</div>
							
							<div class="form-group">
								<input type="text" class="form-control" required placeholder="Address" name="UserAddress">
							</div>
							<div class="row">
								
								<div class="form-group col-md-6">
									<input type="text" class="form-control" required placeholder="Town / City" name="UserCity">
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" required placeholder="Postcode / Zip" name="UserZip">
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-md-6">
									<input type="email" class="form-control" required placeholder="Email" name="UserEmail">
								</div>
								<div class="form-group col-md-6">
									<input type="text" class="form-control" required placeholder="Phone" name="UserPhone">
								</div>
							</div>
							<button class="btn btn-primary btnhover mb-3" type="submit" data-bs-toggle="collapse" data-bs-target="#create-an-account">Create an account <i class="fa fa-arrow-circle-o-down"></i></button>
							
						</div>
					</div>
					
				</div>
			</form>
			
		</div>
		<!-- Product END -->
	</section>
	<!-- contact area End-->
</div>

